/* shared styles  */
.btn-primary{
    width: 8rem;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #ff5400;
    color: white;
}
/* header styles start here */
nav{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.menu-bar ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    
}

.menu-bar a{
    text-decoration: none;
    color: black;
}

.menu-bar li a:hover{
    color: coral;
}

.left-menu{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.left-menu h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.left-menu span{
    color: #ff5400;
}

.header-banner-section{
    background: linear-gradient(120deg, rgba(17, 15, 14, 0.388), rgba(0, 0, 0, 0.382)), url('/Images/header.png');
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background-repeat: no-repeat;
    display: flex;
}

.header-banner-text{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto auto;
}
.header-title h1{
    color: white;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-title p{
    color: white;
    font-size: 1rem;
}


.input{
    width: 8rem;
    padding: 12px;
    border: none;
    border-radius: 8px;
}
.header-inputs{
    border: 2px solid white;
    padding: 15px;
    box-shadow: 5px 7px 5px gray;
}

/* main styles start here  */
.our-popular-tour-section{
    display: flex;
    width: 80%;
    gap: 70px;
    margin: 80px auto;
}
.tour-description{
    align-items: center;
    justify-content: center;
    width: 50%;
}
.tour-description h2{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tour-description p, li{
    margin-bottom: 15px;
    color: #6a6a70;
}
.tour-image{
    width: 50%;
}
.tour-image img{
    width: 100%;
}